<!DOCTYPE html>
<html>
<head>
  <title>Create Bucket</title>
</head>
<body>
  <h1>Create Bucket</h1>
  <form action="/create-bucket" method="POST">
    <label for="username">Bucket Name:</label>
    <input type="text" id="BucketName" name="BucketName" required>
    
    <button type="submit">Create</button>
  </form>

  
</body>
</html>
